/* Styles spécifiques au catalogue de produits */

.catalogue {
    max-width: 120 0px;
    padding: 0 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-image {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  
  .product-info {
    padding: 20px;
  }
  
  .product-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }