body{
    background: linear-gradient(135deg, #200dee,#ffff,#007bff,#ffff,#0905ea);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
footer.footer {
    background-color: rgba(255, 255, 255, 0.5); /* Couleur blanche avec une opacité de 50% */
    padding: 20px;
}
.footers{
    text-align: center; /* Centrage du texte dans le footer */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px;
} 

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}