body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f5f5f5; */
    background: linear-gradient(135deg, #ff0000, #ffffff, #00ff6e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    /* background-colo  r: #fff; */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /*Taille de police réduite*/
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px; /*Espacement ajouté entre les boutons*/
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="reset"] {
    background-color: #6c757d; /*Couleur de fond gris pour le bouton Annuler*/
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover,
  button[type="reset"]:hover {
    background-color: #0056b3; /*Couleur de survol ajustée pour les deux boutons*/
  }
  
  .form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /*Taille de police réduite*/
  }
  
  .container {
    text-align: center;/* Centrage du formulaire*/
  }

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}